                    <hr class="hr-line">
                    <script src="https://kit.fontawesome.com/ace9f7b7a5.js" crossorigin="anonymous"></script>
                    <h3 class="title" style="font-size:30px;">
                        {% if site.instagram %}<a class="social-btn" href="http://instagram.com/{{ site.instagram }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-instagram"></i></a>{% endif %}
                        {% if site.github-url %}<a class="social-btn" href="http://github.com/{{ site.github-url }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-github"></i></a>{% endif %}
                        {% if site.youtube %}<a class="social-btn" href="https://youtube.com/user/{{ site.youtube }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-youtube-square"></i></a>{% endif %}
                        {% if site.youtube-channel %}<a class="social-btn" href="https://youtube.com/channel/{{ site.youtube-channel }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-youtube"></i></a>{% endif %}
                        {% if site.soundcloud %}<a class="social-btn" href="http://soundcloud.com/{{ site.soundcloud }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-soundcloud"></i></a>{% endif %}
                        {% if site.discord %}<a class="social-btn" href="https://discord.com/channels/{{ site.discord }}" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-discord"></i></a>{% endif %}
                  </h3>
